<!DOCTYPE html>
<html>
<a href="https://github.com/jaisharmafps/jaisharmafps.github.io"><img style="position: fixed; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">

      <header class="page-header">

        <!-- config.yml -->
        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.jpg" alt="my photo" class="avatar" itemprop="image">
        {% endif %}

        <meta name="description" content="Jai Kumar Sharma, Consultant, Application Security Ethusiast, Experienced in making Mobile/Web Applications and Web Service Secure">
        <meta name="keywords" content="Jai Kumar Sharma, Jai Sharma, ja1sharma, Penetration Tester, Security Researcher, Bug Bounty Hunter, Consultant, Security Professional, Secuirty Consultant">
        <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>

        <div class="title-bar">


          <h2 class="header-title" itemprop="jobTitle">{{ site.resume_title }}</h2>

          {% include icon-links.html %}
        </div>

        <div class="executive-summary" itemprop="description">
          <p>Open Source Security Researcher | Experienced in Web and Mobile Applications security.<p>
        </div>

        {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button" itemprop="email">Contact me</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking">I'm not looking for work right now.</a>
        {% else %}
        {% endif %}

      </header>

        {% if site.resume_section_recognition %}
      <!-- My HOFs -->
      <section class="content-section">

        <header class="section-header">
          <h2>Certifications</h2>
        </header>
           <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">CEH v10</h3>
          <h4 class="resume-item-details">EC-Council &bull; Jan, 2019</h4>
			<p class="resume-item-copy">Certified Ethical Hacker is a qualification obtained by demonstrating knowledge of assessing the security of computer systems.</p>
          </div>

        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">CORE JAVA</h3>
          <h4 class="resume-item-details">IIHT Ltd &bull; July, 2015</h4>
          <p class="resume-item-copy">License: IN/IIHT/NO300803</p>
			<p class="resume-item-copy">As part of JAVA - Basic Level, following are the topics covered:</p>
			<ul class="resume-item-list">
			    <li>Standalone Applications</li>
				<li>JAVA Syntax | OOPs Concepts</li>
				<li>Methods | Classes | Constructor | Inheritance</li>
				<li>Java Command Line Arguments</li>
			</ul>
        </div>
      </section>
      {% endif %}

        {% if site.resume_section_projects %}
      <!-- My Products -->
      <section class="content-section">

        <header class="section-header">
          <h2>Open Source Projects</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">FindX: Advanced Google Search | 2.5k+ downloads</h3>
          <h4 class="resume-item-details">Android Application &bull; Google Dorking Simplified</h4>
          <p class="resume-item-copy">With FindX you can now Search more accurately on your favourite search engines.<br>FindX offers</p>
            <ul class="resume-item-list">
                  <li>Searching by Site name/domain: Search results for a specific Site or Domain.</li>
                  <li>Searching by File Type: sort results by PDF/TXT/DOC</li>
                  <li>Sort results by In Url filter: Don't remember the exact page url, searching by url hint can do the trick.</li>
                  <li>Sort results by In Title filter: Search by the Title Sort results by Index of filer: List down the directory you've looking for.</li>
              </ul>
            <p>FindX is now available on Google Play Store<br><a href='https://play.google.com/store/apps/details?id=me.jaisharma.findx.advancegooglesearch&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'style="width:200px;height:77px;"/></a></p>
          </div>
      </section>
      {% endif %}

        {% if site.resume_section_experience %}
      <!-- My Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Experience</h2>
        </header>
          <!-- Reusable item list: Start -->
          <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
              <h3 class="resume-item-title" itemprop="name">Think Future Technologies Pvt. Ltd.</h3>
              <h4 class="resume-item-details" itemprop="description">Test Engineer &bull; Mar, 2017 &mdash; present</h4>
              <p class="resume-item-copy">"Think Future Technologies" is a CMMI LEVEL 3 Certified technology service provider, A leader in independent Testing Services, Web Applications &amp; Mobile Development | <a href="http://www.tftus.com/">Find out more</a></p>
              <ul class="resume-item-list">
                  <li>Performing Vulnerability Assessment/Penetration Testing for web applications.

<li>Helping onboard new members to organizational security practices and trained them in Cyber Security</li>

<li>Evaluated website firewall protection against hackers and was entrusted to find vulnerabilities in commercial and government websites</li>

		      <li>Information gathering; Footprinting & Fingerprinting techniques</li>

<li>Security test case preparations and documentation</li>
                  <li>Curating VAPT strategies with team to provide 100% coverage throughout the testing period.

<li>Using various effective penetration testing tools to mimic the attacking scenario for web/mobile based applications and web services (RESTful APIs)</li>

<li>Reverse Engineering mobile applications (Android APK, AndroidManifest, Code Logic, Leaked Sensitive information)</li>
              </ul>
          </div>
         <!-- Reusable item list: End -->
          <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
              <h3 class="resume-item-title" itemprop="name">HelloMeets Technology Pvt. Ltd.</h3>
              <h4 class="resume-item-details" itemprop="description">Frontend Designer/Developer &bull; Apr, 2016 &mdash; Mar, 2017</h4>
              <p class="resume-item-copy">HelloMeets a platfrom where like minded people Meet/Converse/Collab/Grow | <a href="https://www.hellomeets.com">Find out more</a></p>
              <ul class="resume-item-list">
                  <li>I was responsible for the smooth and clean frontend design</li>
                  <li>Designed various design mockups for the website</li>
                  <li>Updated existing FE design</li>
              </ul>
          </div>


        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Airveda Technologies (Freelancing)</h3>
          <h4 class="resume-item-details" itemprop="description">UI/UX Developer &bull; Dec, 2015 &mdash; Feb, 2016</h4>
          <p class="resume-item-copy">Airveda is a fine calibrated Air Monitor device, I developed Airveda's UI/UX for Android and iOS devices. | <a href="https://play.google.com/store/apps/details?id=in.airveda&hl=en">Find out more</a></p>
          <ul class="resume-item-list">
            <li>I was responsible for the smooth UI experience</li>
            <li>Designed data in graphical grids</li>
            <li>Designed various layouts for data representation</li>
          </ul>

        </div><!-- end of resume-item -->

        <!-- another resume item -->
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Skooter Ventures (Freelancing)</h3>
          <h4 class="resume-item-details" itemprop="description">UI/UX Designer &bull; Feb, 2015 &mdash; April, 2015</h4>
          <p class="resume-item-copy">Skooter Venture was a startup, with a fine design idea of connecting people anonymously. I was the lead UI developer in the team. | <a href="https://play.google.com/store/apps/details?id=com.skooterapp&hl=en">Find out more</a></p>
			<ul class="resume-item-list">
            	<li>Designed UI/UX for Android Devices, API 21</li>
            	<li>Designed website layouts</li>
            </ul>
        </div>
      </section>
      {% endif %}

        {% if site.resume_section_education %}
        <!-- My Education -->
        <section class="content-section">

            <header class="section-header">
                <h2>Education</h2>
            </header>

            <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
                <h3 class="resume-item-title" itemprop="name">B.S. Anangpuria Institute of Technology and Management</h3>
                <h4 class="resume-item-details" itemprop="description">Bachelor of Technology , Electronics and Communications Engineering &bull; 2012 &mdash; 2016</h4>
                <p class="resume-item-copy">- Head Event Organiser</p>
                <p class="resume-item-copy">- Project Traiee at Bharat Electronics Limited | IN</p>
                <p class="resume-item-copy">- Team Lead, 2nd Position @ Counter Strike 1.6, Technotrendzz'15</p>
            </div>

        </section>
        {% endif %}

      {% if site.resume_section_skills %}
      <!-- My Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skill</h2>
        </header>

        <div class="resume-item">
          <h4 class="resume-item-details">Programming</h4>
          <p class="resume-item-copy">JAVA, HTML/CSS, MySQL</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Technologies</h4>
          <p class="resume-item-copy">Linux, Git, IntelliJ IDEA, NMap, Burp Suite, Acunetix, Android SDK, Kali Linux</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Other</h4>
          <p class="resume-item-copy">JIRA, Confluence, MS Word, MS Excel, Adobe Photoshop</p>
        </div>

      </section>
      {% endif %}

      {% if site.resume_section_recognition %}
      <!-- My Certification -->
      <section class="content-section">

        <header class="section-header">
          <h2>Certifications</h2>
        </header>
           <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">CEH v10</h3>
          <h4 class="resume-item-details">EC-Council &bull; Jan, 2019</h4>
			<p class="resume-item-copy">Certified Ethical Hacker is a qualification obtained by demonstrating knowledge of assessing the security of computer systems.</p>
          </div>

        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">CORE JAVA</h3>
          <h4 class="resume-item-details">IIHT Ltd &bull; July, 2015</h4>
          <p class="resume-item-copy">License: IN/IIHT/NO300803</p>
			<p class="resume-item-copy">As part of JAVA - Basic Level, following are the topics covered:</p>
			<ul class="resume-item-list">
			    <li>Standalone Applications</li>
				<li>JAVA Syntax | OOPs Concepts</li>
				<li>Methods | Classes | Constructor | Inheritance</li>
				<li>Java Command Line Arguments</li>
			</ul>
        </div>
      </section>
      {% endif %}

      {% if site.resume_section_associations %}
      <!-- My Associations -->
      <section class="content-section">

        <header class="section-header">
          <h2>Causes I care about</h2>
        </header>

        <div class="resume-item">
       		<ul class="resume-item-list">
				<li>Animal Welfare</li>
				<li>Disaster and Humanitarian Relief</li>
				<li>Economic Empowerment</li>
				<li>Education</li>
				<li>Environment</li>
				<li>Health</li>
				<li>Science and Technology</li>
			</ul>
        </div>

      </section>
      {% endif %}

      {% if site.resume_section_links %}
      <!-- Links -->
      <section class="content-section">

        <header class="section-header">
          <h2>Socialize with me</h2>
        </header>

        <div class="resume-item">
          <a class="twitter-timeline" href="https://twitter.com/Jai_Sharma_">Tweets by Jai Sharma</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </section>
      {% endif %}

      <footer class="page-footer">
        <p class="footer-line">Follow me on Twitter: <a href="http://twitter.com/jai_sharma_">@Jai Sharma</a>. Fork it on <a href="https://github.com/jaisharmafps/jaisharmafps.github.io">GitHub</a>.</p>
        <p class="footer-line">Thanks for visiting 😊</p>
      </footer>

    </div>

<!-- Google Analatics Integration-->
	  <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-88111220-1', 'auto');
          ga('send', 'pageview');

      </script>

  </body>

</html>
